<div class="content-wrap">
  <div class="content-row">
    <h2>UI Checkbox</h2>

    {{#ui-fieldset size="s" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox checked=person.alive name="e1" label="This is Small" disabled=true}}
    {{/ui-fieldset}}

    {{#ui-fieldset help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox checked=person.alive name="e1" label="This is something can helps you out." disabled=true}}
    {{/ui-fieldset}}

    {{#ui-fieldset size="l" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox checked=person.alive name="e1" label="This is Middle Upper"}}
    {{/ui-fieldset}}

    {{#ui-fieldset size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}

    {{#ui-fieldset size="s" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}

    {{#ui-fieldset help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}

    {{#ui-fieldset size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" size="l" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}
  </div>
</div>
