<div class="main-wrapper">
  <div class="w-container">
    <h2>UI Button</h2>
    {{#ui-button color="border m"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="border s"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="blue s"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="blank" icon="building" expand=true style="test"}}
      <span>Test</span>
    {{/ui-button}}
    {{#ui-button color="purple"}}
      <i class="ic light ic-plus-1"></i>
      <span>Test</span>
    {{/ui-button}}
    {{#ui-button disabled= true color="green"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="red"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="golden"}}<span>Test</span>{{/ui-button}}
    {{#ui-button color="border"}}
      {{ui-icon size="16" icon="business-16px_chart-bar-32"}}
      <span>Test</span>
    {{/ui-button}}
    {{#ui-button color="border"}}<span>Test</span>{{/ui-button}}
    {{ui-button "TEST"color="s expand-more ic-dark"}}
    {{ui-button "TEST"color="transparent m expand-more ic-dark"}}
    {{ui-button  color="border" icon="business-16px_chart-bar-32"}}
  </div>
  <div class="w-container">
    <h2>UI icon Button</h2>
    {{ui-icon-button icon="building" color="blue" tips="xxx"}}
    <div class="box-button">{{ui-icon size="16" icon="ui-16px-1_trash"}}</div>
    <div class="box-button"><i class="ic dark ic-ipad-1"></i></div>
    <div class="box-button"><i class="ic-social dark ic-weibo"></i></div>
    <div class="box-button"><i class="ic-report dark ic-graph"></i></div>
    <div class="box-button"><i class="ic-report dark ic-gauge"></i></div>
    <div class="box-button light">{{ui-icon icon="files-single-copy"}}</div>
    <div class="box-button purple"><i class="ic light ic-plus-1"></i></div>
    <div class="box-button blue"><i class="ic light ic-plus-1"></i></div>
    <div class="box-button dark">{{ui-icon size="16" icon="ui-16px-1_simple-add"}}</div>
    <div class="box-button border">{{ui-icon size="16" icon="ui-16px-1_simple-add"}}</div>
  </div>
  <div class="w-container">
    <h2>UI Switch</h2>
    {{ui-switch label="Test" size="s"}}
    {{ui-switch label="Test" size=""}}
    {{ui-switch label="Test" size="l"}}
    {{ui-switch label="Test" size="xl"}}
  </div>
  <div class="w-container">
    <h2>UI Menu</h2>
    {{#basic-dropdown as |dropdown|}}
      {{#dropdown.trigger}}
        {{ui-button "Dropdown Button Sample" color="border" icon="ui-grid-square" expand=true}}
      {{/dropdown.trigger}}
      {{#dropdown.content}}
        <ul class="option checkmark">
          <div class="optgroup">Optgroup Sample</div>
          <ul class="option-contents">
            <li>
              <a>
                {{ui-icon icon="ui-check" style="checkmark"}}
                {{ui-icon icon="files-add"}}
                <span>Sample Text</span>
              </a>
            </li>
            <li>
              <a>
                {{ui-icon icon="files-add"}}
                <span>Sample Text</span>
              </a>
            </li>
            <li>
              <a>
                {{ui-icon icon="files-add"}}
                <span>Sample Text</span>
              </a>
            </li>
          </ul>
          <ul class="option-control">
            <li>
              <a>
                {{ui-icon icon="files-add"}}
                <span>Add New Sample</span>
              </a>
            </li>
          </ul>
        </ul>
      {{/dropdown.content}}
    {{/basic-dropdown}}
  </div>
</div>