<div class="w-container{{normalClassName}}">
  <div>
    {{ui-logo "" "index" class="logo"}}
    <p>{{copyright}}</p>
  </div>

  <div>
    {{#each menus as |menu|}}
      <div>
        <h4>{{menu.title}}</h4>
        <ul local-class="link">
          {{#each menu.items as |item|}}
            <li>
              {{#if item.external}}
                <a href={{item.route}}>{{item.name}}</a>
              {{else}}
                {{link-to item.name item.route}}
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</div>
