<div class="w-container{{normalClassName}}">
  <div>
    {{ui-logo "" "index" class="logo"}}
    <p>{{copyright}}</p>
  </div>

  <div>
    {{#each menus as |menu|}}
      <div>
        <h4>{{menu.title}}</h4>
        <ul local-class="link">
          {{#each menu.items as |item|}}
            <li>{{link-to item.name item.route}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</div>