{{labelContent}}

<div class="inner-wrapper">
  {{input
    type="number"
    disabled=disabled
    form=form
    id=fieldId
    min=min
    max=max
    name=name
    readonly=readonly
    required=required
    step=step
    tabindex=tabindex
    value=value}}
  <span class="increase" onclick={{action "increase"}}>
    <i class="ic dark ic-plus-1"></i>
  </span>
  <span class="decrease" onclick={{action "decrease"}}>
    <i class="ic dark ic-minus-1"></i>
  </span>
</div>

{{errorContent}}
