{{#if icon}}
  {{ui-icon icon=icon style=style}}
{{/if}}
{{#if hasBlock}}
  {{yield}}
{{else}}
  <span>{{text}}</span>
{{/if}}
{{#if expand}}
  {{ui-icon icon="arrows-small-down" style="expand"}}
{{/if}}