{{#if icon}}
  {{ui-icon icon=icon style=style}}
{{/if}}
{{#if hasBlock}}
  {{yield}}
{{else}}
  <span>{{text}}</span>
{{/if}}
{{#if expand}}
  {{#if half}}
    {{ui-icon icon="arrows-half-down" style="expand half"}}
    {{else}}
    {{ui-icon icon="arrows-small-down" style="expand"}}
  {{/if}}
{{/if}}