<div class="container">
  <div class="example">
    <h2>UI Input</h2>

    {{#ui-fieldset size="small" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset size="large" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset size="small" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset size="large" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" size="small" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" size="large" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" size="large" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}
  </div>

  <div class="example">
    <h2>UI Checkbox</h2>

    {{#ui-fieldset size="small" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}

    {{#ui-fieldset help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}

    {{#ui-fieldset size="large" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}

    {{#ui-fieldset size="small" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}

    {{#ui-fieldset help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}

    {{#ui-fieldset size="large" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" size="small" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" size="large" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" size="large" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
      {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
    {{/ui-fieldset}}
  </div>

  <div class="example">
    <h2>UI Checkbox</h2>

    {{#ui-fieldset size="small" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
      {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
    {{/ui-fieldset}}

    {{#ui-fieldset help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
      {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
    {{/ui-fieldset}}

    {{#ui-fieldset size="large" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
      {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" size="small" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
      {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
      {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" size="large" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
      {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" size="small" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
      {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
      {{f.radio subject=person value=-1 currentValue=person.gender name="gender" label="人妖" onChange=(action 'changeGender')}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
      {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
      {{f.radio subject=person value=-1 currentValue=person.gender name="gender" label="人妖" onChange=(action 'changeGender')}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" size="large" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
      {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
      {{f.radio subject=person value=-1 currentValue=person.gender name="gender" label="人妖" onChange=(action 'changeGender')}}
    {{/ui-fieldset}}
  </div>
</div>
