<div class="main-wrapper">
	<div class="w-container">
		<div class="content-wrap">
			<div class="content-row">
				<h2>UI Input</h2>

        {{#ui-fieldset size="s" help="This is something can helps you out.This is something can helps you out.This is something can helps you out.This is something can helps you out.This is something can helps you out.This is something can helps you out." as |f|}}
          {{f.input name="name" value=person.name readonly=true}}
        {{/ui-fieldset}}

        {{#ui-fieldset help="This is something can helps you out.This is something can helps you out.This is something can helps you out.This is something can helps you out.This is something can helps you out.This is something can helps you out." as |f|}}
          {{f.input subject=person name="name" label="Middle" value=person.name disabled=true}}
        {{/ui-fieldset}}

        {{#ui-fieldset size="l" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.input subject=person name="name" label="Middle Upper" value=person.name}}
        {{/ui-fieldset}}

        {{#ui-fieldset size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.input subject=person name="name" label="Label" value=person.name}}
        {{/ui-fieldset}}

        {{#ui-fieldset size="s" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.input subject=person name="name" label="Small" value=person.name}}
          {{f.input subject=person name="name" label="Small" value=person.name}}
        {{/ui-fieldset}}

        {{#ui-fieldset help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.input subject=person name="name" label="" value=person.name error="" }}
          {{f.input subject=person name="name" label="" value=person.name error="" }}
        {{/ui-fieldset}}

        {{#ui-fieldset size="l" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.input subject=person name="name" label="Middle Upper" value=person.name}}
          {{f.input subject=person name="name" label="Middle Upper" value=person.name}}
        {{/ui-fieldset}}

        {{#ui-fieldset size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.input subject=person name="name" label="Label" value=person.name}}
          {{f.input subject=person name="name" label="Label" value=person.name}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" size="s" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.input subject=person name="name" label="Middle" value=person.name}}
          {{f.input subject=person name="name" label="Middle" value=person.name}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.input subject=person name="name" label="Middle" value=person.name}}
          {{f.input subject=person name="name" label="Middle" value=person.name}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" size="l" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.input subject=person name="name" label="Middle Upper" value=person.name}}
          {{f.input subject=person name="name" label="Middle Upper" value=person.name}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.input subject=person name="name" label="Label" value=person.name}}
          {{f.input subject=person name="name" label="Label" value=person.name}}
          {{f.input subject=person name="name" label="Label" value=person.name}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.input subject=person name="name" label="Label" value=person.name}}
          {{f.input subject=person name="name" label="Label" value=person.name}}
          {{f.input subject=person name="name" label="Label" value=person.name}}
          {{f.input subject=person name="name" label="Label" value=person.name}}
        {{/ui-fieldset}}
      </div>
		</div>

    <div class="content-wrap">
      <div class="content-row">
				<h2>UI Checkbox</h2>

        {{#ui-fieldset size="s" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is Small" disabled=true}}
        {{/ui-fieldset}}

        {{#ui-fieldset help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is something can helps you out." disabled=true}}
        {{/ui-fieldset}}

        {{#ui-fieldset size="l" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is Middle Upper"}}
        {{/ui-fieldset}}

        {{#ui-fieldset size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
        {{/ui-fieldset}}

        {{#ui-fieldset size="s" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
        {{/ui-fieldset}}

        {{#ui-fieldset help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
        {{/ui-fieldset}}

        {{#ui-fieldset size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" size="l" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
          {{f.checkbox subject=person checked=person.alive name="e1" label="This is label"}}
        {{/ui-fieldset}}
      </div>
    </div>

    <div class="content-wrap">
      <div class="content-row">
				<h2>UI Radio</h2>

        {{#ui-fieldset size="s" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender') disabled=true}}
          {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender') disabled=true}}
        {{/ui-fieldset}}

        {{#ui-fieldset help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
          {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
        {{/ui-fieldset}}

        {{#ui-fieldset size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
          {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" size="s" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
          {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
          {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
          {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" size="l" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
          {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
          {{f.radio subject=person value=-1 currentValue=person.gender name="gender" label="人妖" onChange=(action 'changeGender')}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
          {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
          {{f.radio subject=person value=-1 currentValue=person.gender name="gender" label="人妖" onChange=(action 'changeGender')}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.radio subject=person value=1 currentValue=person.gender name="gender" label="男" onChange=(action 'changeGender')}}
          {{f.radio subject=person value=0 currentValue=person.gender name="gender" label="女" onChange=(action 'changeGender')}}
          {{f.radio subject=person value=-1 currentValue=person.gender name="gender" label="人妖" onChange=(action 'changeGender')}}
        {{/ui-fieldset}}
      </div>
    </div>

    <div class="content-wrap">
      <div class="content-row">
				<h2>UI spinner</h2>

        {{#ui-fieldset size="s" help="" as |f|}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label" readonly=true}}
        {{/ui-fieldset}}

        {{#ui-fieldset help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="" disabled=true}}
        {{/ui-fieldset}}

        {{#ui-fieldset size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label"}}
        {{/ui-fieldset}}

        {{#ui-fieldset size="s" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label" unit="$"}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label" unit="<i class='ic'></i>"}}
        {{/ui-fieldset}}

        {{#ui-fieldset help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label" unit="$" unitPosition="r"}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label"}}
        {{/ui-fieldset}}

        {{#ui-fieldset size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label"}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label"}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" size="s" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label"}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label"}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label"}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label"}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label"}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label"}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label"}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label"}}
        {{/ui-fieldset}}

        {{#ui-fieldset direction="row" size="xl" help="<strong>This is something can helps you out.</strong>" as |f|}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label"}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label"}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label"}}
          {{f.spinner subject=person value=person.number min=10 max=100 step=5 label="Label"}}
        {{/ui-fieldset}}
      </div>
    </div>
	</div>
</div>
