<div class="container">
  <div class="example">
    <h2>UI Form</h2>

    {{#ui-fieldset size="small" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset size="large" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="column" size="small" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="column" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="column" size="large" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" size="small" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" size="large" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}

    {{#ui-fieldset direction="row" size="large" help="<strong>This is something can helps you out.</strong>" as |f|}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
      {{f.input subject=person name="name" label="Label" value=person.name}}
    {{/ui-fieldset}}
  </div>
</div>
