<h1>Icon Preview</h1>
<div local-class="header">
</div>

<h2>Stroke</h2>
{{partial "components/icon-preview/-stroke"}}
<h2>Solid</h2>
{{partial "components/icon-preview/-solid"}}
<h2>Reports</h2>
{{partial "components/icon-preview/-reports"}}
<h2>Addon</h2>
{{partial "components/icon-preview/-addon"}}
<h2>Social</h2>
{{partial "components/icon-preview/-social"}}
<h2>Payment</h2>
{{partial "components/icon-preview/-payment"}}

<div local-class="attr">
  <span>Click on icon copy the <strong>CLASS</strong> to the clipboard</span>
</div>
