{{svg-icon}}
{{ui-notification}}

<div class="w-container normal">
  <h1 local-class="icon-title">SVG icon Preview</h1>
  <div local-class="svg-icon">
    {{#each model.svg as |item|}}
      <div local-class="wrapper">
        <div local-class="svg-container"
             onmouseenter={{action "showHref"}}
             onmouseleave={{action "hideHref"}}
             onclick={{action "copyHref"}}
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width={{size}} height={{size}} viewBox="0 0 {{size}} {{size}}">
            <use xlink:href="{{concat "#" item.icon}}"></use>
          </svg>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div local-class="attr">
  <span local-class="hover">{{hrefText}}</span>
  <span>Click on icon copy the <strong>SVG ID</strong> to the clipboard</span>
</div>
